<head>
<meta charset="utf-8">
<title>{:C('simName')}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">



<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Bootstrap Core CSS -->
<link href="__PUBLIC__/sim/css/bootstrap.css" rel='stylesheet'
	type='text/css' />
<link href="__PUBLIC__/sim/css/style.css" rel='stylesheet'
	type='text/css' />
<link href="__PUBLIC__/sim/css/custom.css" rel="stylesheet">


<!--字体图标-->
<link rel="stylesheet"
	href="__PUBLIC__/font-awesome/css/font-awesome.min.css" media="all">

<!-- 
<script src="__PUBLIC__/sim/js/jquery-1.11.1.min.js"></script>
<script src="__PUBLIC__/jquery/jquery-3.2.1.js"></script>
 -->
<script src="__PUBLIC__/sim/js/jquery-1.11.1.min.js"></script>
<script src="__PUBLIC__/jquery-ui/jquery-ui.min.js"></script>
<script src="__PUBLIC__/sim/js/modernizr.custom.js"></script>

<!-- Custom CSS -->
<link href="__PUBLIC__/sim/css/animate.css" rel="stylesheet"
	type="text/css" media="all">
<script src="__PUBLIC__/sim/js/wow.min.js"></script>
<script>
		 new WOW().init();
	</script>
<!-- Metis Menu -->
<script src="__PUBLIC__/sim/js/metisMenu.min.js"></script>
<script src="__PUBLIC__/sim/js/custom.js"></script>
<link href="__PUBLIC__/sim/css/custom.css" rel="stylesheet">
<!--//Metis Menu -->

<link href="__PUBLIC__/lity/lity.min.css" rel="stylesheet">
<script src="__PUBLIC__/lity/lity.min.js"></script>


<!-- 
<link href="__PUBLIC__/admin/css/bootstrap-responsive.min.css"
	rel="stylesheet">
<link href="__PUBLIC__/admin/css/bootstrap-theme.min.css"
	rel="stylesheet"> -->

<link rel="stylesheet" href="__PUBLIC__/jquery-ui/jquery-ui.min.css">
<!--loading-->
<link rel="stylesheet" href="__PUBLIC__/loading/load.css" media="all">
<!-- 标题小图标 -->
<link rel="icon" type="image/x-icon" href="__PUBLIC__/favicon.ico" />
<Link Rel="SHORTCUT ICON" href="__PUBLIC__/favicon.ico">

<!--加载-->
<script type="text/javascript" src="__PUBLIC__/loading/load.js"></script>



<!--  -->

</head>
