<div id="simnav" class=" sidebar" role="navigation">
	<div class="navbar-collapse">
		<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left"
			id="cbp-spmenu-s1">
			<ul class="nav" id="side-menu">
				<li><a name="Index" href="__MODULE__/index"><i
						class="fa fa-home nav_icon"></i>概览</a></li>


				<li><a href="javascript:;"><i
						class="fa fa-folder-open nav_icon"></i>文章<span class="fa arrow"></span></a>
					<ul class="nav nav-second-level collapse">
						<li><a name="Cate" href="__MODULE__/cate">文章栏目</a></li>
						<li><a name="Article" href="__MODULE__/article">文章数据管理</a></li>
					</ul></li>

				<li><a href="javascript:;"><i class="fa fa-users nav_icon"></i>会员
						<span class="fa arrow"></span></a>
					<ul class="nav nav-second-level collapse">
						<li><a name="Users" href="__MODULE__/users">会员管理</a></li>
						<li><a name="Message" href="__MODULE__/message">站内信、系统消息管理</a>
						</li>
						<li><a name="Mgrs" href="__MODULE__/mgrs">管理员管理</a></li>
					</ul></li>


				<li><a name="Pic" href="__MODULE__/pic"><i
						class="fa fa-image nav_icon"></i>图片素材库</a></li>


				<li><a name="Tags" href="__MODULE__/tags"><i
						class="fa fa-tags nav_icon"></i>标签管理</a></li>


				<li><a name="Model" href="__MODULE__/model"><i
						class="fa fa-cube nav_icon"></i>模块设置</a></li>


				<li><a name="aliapi" href="__MODULE__/aliapi"><i
						class="fa fa-code nav_icon"></i>阿里云API</a></li>


				<li class=""><a href="javascript:;"><i
						class="fa fa-cogs nav_icon"></i>高级设置 <span class="fa arrow"></span></a>
					<ul class="nav nav-second-level collapse">
						<li><a name="Logmgr" href="__MODULE__/logmgr">系统日志 </a></li>
						<li><a href="__MODULE__/config">参数配置</a></li>
					</ul></li>

				<li><a href="javascript:;"><i class="fa fa-cubes nav_icon"></i>模块功能
						<span class="fa arrow"></span></a>
					<ul class="nav nav-second-level collapse" id="ms">
					</ul></li>
			</ul>
			<div class="clearfix"></div>
			<!-- //sidebar-collapse -->
		</nav>
	</div>
</div>
<!--  -->
<script>

	var CONTROLLER_NAME;
	CONTROLLER_NAME="{$CONTROLLER_NAME}";
	var strid="{$_GET['id']}";
	/**
	自动添加模块
	**/
	$.post("__CONTROLLER__/getmod",{},function(data){
	    for(var i = 0; i < data.length; i++)
	    {
		    $('#ms').append('<li name="Usermodel'+data[i].id+'"><a href="__MODULE__/usermodel/index/id/'+data[i].id+'"><i class="fa fa-cube"></i> '+data[i].mname+'</a></li>');
	    }
	    setsty();
	})
	
	/**
	自动设置样式指针(class=active)
	**/
	function setsty(){

		$("#simnav li").each(function(index, element) {
	        if($(this).attr("name")==CONTROLLER_NAME || $(this).attr("name")==CONTROLLER_NAME+strid){
				$(this).addClass("active");
	        }else{
				$(this).removeClass("active");
			}
	    });
	}
</script>
