<!DOCTYPE html>
<!--[if lt IE 7 ]><html lang="en" class="ie6 ielt7 ielt8 ielt9"><![endif]-->
<!--[if IE 7 ]><html lang="en" class="ie7 ielt8 ielt9"><![endif]-->
<!--[if IE 8 ]><html lang="en" class="ie8 ielt9"><![endif]-->
<!--[if IE 9 ]><html lang="en" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<include file="Public:head" />
<include file="Public:script" />
<body onLoad="loadmore('');getdtpk()">
	<include file="Public:alerts" />
	<div class="container">
		<include file="Public:header" />
		<div class="row">
			<div class="span3">
				<div class="well" style="padding: 8px 0;">
					<include file="Public:menu" />
				</div>
			</div>

			<!---开始--->
			<div class="span9">
				<h2>会员</h2>
				<div class="well blank-slate" id="gbodx">
					<p>请从这里开始搜索：</p>
					<input type="text" placeholder="请输入用户名进行搜索..." id="ipt_search" />
					<button class="btn btn-sm btn-info" id="btn_search" style="margin-bottom:10px;"><i class="fa fa-search"></i> 查找用户</button>
					<button class="btn btn-sm btn-default" id="btn_all" style="margin-bottom:10px;"><i class="fa fa-undo"></i> 返回全部会员</button>
					<script>
					$("#btn_search").click(function(e) {
						$("#content").empty();
						$("#curpage").val('0');
						loadmore($("#ipt_search").val());
                    });
					$("#btn_all").click(function(){
						$("#curpage").val('0');
						$("#content").empty();
						loadmore('');
					})
					</script>
				</div>
				<table id="tcontent" class="table table-bordered table-striped">
					<thead>
						<tr>
							<th>UID</th>
							<th>用户名</th>
							<th>类型 / 等级</th>
							<th>积分</th>
							<th>余额</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody id="content"></tbody>
				</table>
				<div id="pagebox" style="padding: 5px; text-align: center;">
					<span class="btn btn-sm btn-info" id="btn_nextpage">>>>
						继续加载{$sh1_page_listnum1}条数据</span>
					<script>
								$("#btn_nextpage").click(function(e) {
                                    loadmore($("#ipt_search").val());
                                });
							</script>
				</div>

				<!-- 新建开始 -->
				<div class="span9" id="div_addnew" style="display: none;">
					<fieldset>
						<legend>编辑用户</legend>
						<div class="control-group">
							<label class="control-label">用户名</label>
							<div class="controls">
								<input type="text" class="input-xlarge" id="uname" disabled="disabled" />
							</div>
						</div>

						<div class="control-group">
							<label class="control-label">生日</label>
							<div class="controls">
								<input type="text" class="input-xlarge"  id="shengri" placeholder="点击选择..."  onkeyup="this.value=''"/>
								<script>
									function getdtpk(){
										//$("#dt").datepicker( "option", "dateFormat", 'mm/dd/yy' );				
										$("#shengri").datepicker();
										$("#shengri").datepicker( "option", "dateFormat", 'yymmdd' );	
									}
								</script>
							</div>
						</div>

						<div class="control-group">
							<label class="control-label">类型</label>
							<div class="controls">
								<select id="utype">
									<volist name="sh1_user_type" id='e1'>
										<option value="{$e1}">{$e1}</option>
									</volist>
								</select>
							</div>
						</div>

						<div class="control-group">
							<label class="control-label">等级</label>
							<div class="controls">
								<select id="uleve">
									<volist name="sh1_user_level" id='e2'>
										<option value="{$e2}">{$e2}</option>
									</volist>
								</select>
							</div>
						</div>

						<div class="form-actions">
							<button type="button" class="btn btn-primary" id="btn_save">保存</button>
							<button class="btn btn-sm btn-danger" id="btn-cancel">取消并收起</button>
							<input type="hidden" value="0" id="id" /> <input type="hidden"
								id="icon" />
							<script>
									//子窗口赋值
									function getV(v){
										$("#icon").val(v);
										lightbox.close();
									}
									//清空表单
									function clearfm(){
										$("#uname").val('');
										$("#shengri").val('');
										$("#id").val("0");
									}
									$("#btn-cancel").click(function(e) {
										clearfm();
                                        $("#div_addnew").fadeOut(800);
									$("#tcontent").fadeIn(800);
									$("#pagebox").fadeIn(800);
                                    });
									$("#btn_save").click(function(e) {
										var id=$("#id").val();
										var uname=$("#uname").val();
										var shengri=$("#shengri").val();
										var utype=$("#utype").val();
										var uleve=$("#uleve").val();
										if(id=='' || uname=='' || shengri==''){
											balert('warning','信息不完整');
											return;
										}
                                        var URL='__CONTROLLER__';
										$.ajax({
											type:'POST',
											url:URL + '/save_users',
											data:{
												id:id,
												uname:uname,
												utype:utype,
												uleve:uleve,
												shengri:shengri
												},
											dataType:"text",
											beforeSend:function() { 
												sh_loading();
												}, 
												complete:function(data) { 
												sh_loading_close();
												//alert(id+','+uname+','+utype+','+uleve+','+shengri);
												}, 
											success: function(data){
												clearfm();
												//alert(data);
												if(data=='ok'){
													window.location.reload();
												}else{
													balert('danger','保存失败');
												}
											}
										});

                                    });
								</script>
						</div>
					</fieldset>
				</div>
				<include file="Public:foot" />
			</div>
		</div>
	</div>
	<script>
			//栏目列表
			function loadmore(key){
										var URL='__CONTROLLER__';
										var s=$("#curpage").val();
										if (key=="" || key==null){
											key='null';
										}
										$.ajax({
											type:'POST',
											url:URL + '/list_users',
											data:{
												s:s,
												key:key
												},
											dataType:"text",
											beforeSend:function() { 
												sh_loading();
												}, 
												complete:function(data) { 
												sh_loading_close();
												}, 
											success: function(data){
												var b=$.parseJSON(data);
												var str="";
												if(b.length<1){
													balert('info','没找到相关会员');
													return;
												}
												var show1,show2,u
												u="{:C('ROOT_DIR')}";
												for (var i=0;i<b.length;i++)
												{

str=str+'<tr>';
str=str+'	<td>';
str=str+b[i].id;
str=str+'	</td>';
str=str+'	<td>';
str=str+b[i].uname;
str=str+'	</td>';
str=str+'	<td>';
str=str+b[i].utype+" / "+b[i].uleve;
str=str+'	</td>';
str=str+'	<td>';
str=str+b[i].jifen;
str=str+'	</td>';
str=str+'	<td>';
str=str+b[i].yue;
str=str+'	</td>';

str=str+'	<td>';
str=str+'		<a href="javascript:;" onclick="load_users('+"'"+b[i].id+"'"+')" class="view-link">修改</a>';
str=str+'		<a href="javascript:;" class="view-link" onclick="del_users('+"'"+b[i].id+"'"+')">删除</a>';
str=str+'	</td>';
str=str+'</tr>';
												}
											var pgn="{$sh1_page_listnum1}";
											$("#curpage").val(parseInt(s)+parseInt(pgn));
											$("#content").append(str);
											$("#btn_nextpage").html('>>> 继续加载{$sh1_page_listnum1}条数据');
											$("#btn_nextpage").addClass("btn-info");
											}
										});
			}
			//读取
			function load_users(id){
				var URL='__CONTROLLER__';
					$.ajax({
						type:'POST',
						url:URL + '/load_users',
						data:{
							id:id
							},
						dataType:"text",
											beforeSend:function() { 
												sh_loading();
												}, 
												complete:function(data) { 
												sh_loading_close();
												}, 
						success: function(data){
							var b=$.parseJSON(data);
							$("#id").val(b.id);
							$("#uname").val(b.uname);
							$("#utype").val(b.utype);
							$("#uleve").val(b.uleve);
							$("#shengri").val(b.shengri);
							$("#div_addnew").fadeIn(1000);
						}
					});
			}
			function del_users(id){
				if(id==''){
					balert('danger','数据错误');
					return;
				}else if(confirm("确定要删除吗？")){
					var URL='__CONTROLLER__';
					$.ajax({
						type:'POST',
						url:URL + '/del_cate',
						data:{
							id:id
							},
						dataType:"text",
											beforeSend:function() { 
												sh_loading();
												}, 
												complete:function(data) { 
												sh_loading_close();
												}, 
						success: function(data){
							if(data=='ok'){
								window.location.reload();
							}else{
								balert('danger','删除失败');
							}
						}
					});
				}
			}
		</script>
	<input type="hidden" id="curpage" value="0" />
</body>
</html>