<!DOCTYPE html>
<!--[if lt IE 7 ]><html lang="en" class="ie6 ielt7 ielt8 ielt9"><![endif]-->
<!--[if IE 7 ]><html lang="en" class="ie7 ielt8 ielt9"><![endif]-->
<!--[if IE 8 ]><html lang="en" class="ie8 ielt9"><![endif]-->
<!--[if IE 9 ]><html lang="en" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<include file="Public:head" />
<include file="Public:script" />
<body>
	<!--登录页面视觉差效果-->
	<link rel="stylesheet" type="text/css"
		href="__PUBLIC__/eff_index/css/normalize.css" />
	<link rel="stylesheet" type="text/css"
		href="__PUBLIC__/eff_index/css/styles.css">
	<script src="__PUBLIC__/sim/js/bootstrap.js"> </script>
	<script src='__PUBLIC__/eff_index/js/jquery.parallax.min.js'></script>
	<main>
	<div id="overlay"></div>
	<ul id="scene">
		<li class="layer" data-depth="0.2">
			<div class="layer1"></div>
		</li>
	</ul>
	<div class="wrapper" id="h" style="display: none;">
		<div class="htmleaf-header">
			<div id="login-page" class="container" style="width: 40%;">
				<form id="login-form" class="well">
					<h1>
						<font>{:C('simName')}</font>
					</h1>
					<input type="text" class="form-control1" id="uname"
						placeholder="账号" style="margin-top: 10px;" /> <br /> <input
						type="password" class="form-control1" id="upswd" placeholder="密码"
						style="margin-top: 10px;" /> <br /> <input type="text"
						class="form-control1" id="verify" placeholder="请输入下面验证码数字"
						style="margin-top: 10px;" /> <img src="{:U('home/index/verify')}"
						style="border: solid 1px #999; width: 100%; margin-top: 10px;"
						onclick="this.src=this.src+'?'" id="imgcode" />
					<div style="margin-top: 10px;"></div>
					<div style="padding: 5px; color: #999; text-align: center;">
						<span id="info"
							style="width: 100%; display: block; padding: 5px; font-size: 11px;">请点击按钮登录</span>
						<button type="button" id="login_sub" class="btn btn-default">
							<i class="fa fa-sign-in fa-lg"></i> 登录
						</button>
					</div>
					<div class="clearfix"></div>
				</form>
			</div>
		</div>
	</div>
	</main>
	<!--登录页面视觉差效果-->
	<script>
	$("#login_sub").click(function(e) {
        var URL='__CONTROLLER__';
		var codev=$("#verify").val();
		if(codev==''){
			$("#info").html("<font color='#950000'>请输入验证码...</font>");
			return;
		}
		$.ajax({
			type:'GET',
			url:URL + '/check_verify',
			data:{
				code:codev
				},
			dataType:"text",
											beforeSend:function() { 
												$("#info").html('正在发送请求...');
												}, 
												complete:function(data) { 
												//sh_loading_close();
												}, 
			success: function(data){
				if (data == '1') {
					$("#login_sub").addClass('btn-primary');
					$("#login_sub").removeClass('btn-danger');
					$("#info").html('正在登录,稍后将自动跳转...');
					gologin();
				} else  {
					//验证码输入错误
					$("#info").html("<font color='#950000'>验证码错误</font>");
					$("#imgcode").click();
					$("#login_sub").removeClass('btn-primary');
					$("#login_sub").addClass('btn-danger');
				}
			}
		});
    });
	$(document).keydown(function (event) {
		if (event.keyCode == 13) {
			$("#login_sub").click();
		}
	});
	$(document).ready(function () {
	    $('#scene').parallax();
	    $('#h').slideDown(1800);
	});
	</script>

	<script language="javascript">
	function gologin() {
		var uname=$("#uname").val();
		var upswd=$("#upswd").val();
		if(uname==''||upswd==''){
			$("#info").html("<font color='#950000'>请填写完整</font>");
			return;
		}
        var URL='__CONTROLLER__';
		$.ajax({
			type:'POST',
			url:URL + '/chk_login',
			data:{
				uname:uname,
				upswd:upswd
				},
			dataType:"text",
											beforeSend:function() { 
												sh_loading();
												}, 
												complete:function(data) { 
												sh_loading_close();
												}, 
			success: function(data){
				if(data!='err'){
					window.location.href="__MODULE__";
				}else{
					$("#imgcode").click();
					$("#info").html('<font color=#950000>登录失败，请重试...</font>');
				}
			}
		});
    };
</script>
</body>
</html>