<!DOCTYPE html>
<!--[if lt IE 7 ]><html lang="en" class="ie6 ielt7 ielt8 ielt9"><![endif]-->
<!--[if IE 7 ]><html lang="en" class="ie7 ielt8 ielt9"><![endif]-->
<!--[if IE 8 ]><html lang="en" class="ie8 ielt9"><![endif]-->
<!--[if IE 9 ]><html lang="en" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<include file="Public:head" />
<include file="Public:script" />
<body onload="loadmore()">
	<include file="Public:alerts" />
	<div class="container">
		<div class="row">
			<!---开始--->
			<div class="span12">
				<h2>控件管理</h2>
				<div class="well blank-slate" id="gbodx">
					<p>点击按钮添加一个控件</p>
					<p>点击<a href="javascript:;" onclick="showinfo('textdata_model_ctrl')">这里</a>获取关于控件的帮助</p>
					<a href="#" class="btn btn-primary" id="btn_addnew"><i
						class="icon-plus icon-white"></i> 新控件</a>
					<script>
								$("#btn_addnew").click(function(e) {
                                    $("#div_addnew").fadeIn(800);
									$("#tcontent").fadeOut(800);
									$("#pagebox").fadeOut(800);
                                });
							</script>
				</div>
				<table id="tcontent" class="table table-bordered table-striped">
					<thead>
						<tr>
							<th>ID</th>
							<th>名称(点击查看说明)</th>
							<th>关键值</th>
							<th>数量</th>
							<th>长度</th>
							<th>条件、操作</th>
							<th>位置</th>
							<th>类型</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody id="content"></tbody>
				</table>
				<div id="pagebox" style="padding: 5px; text-align: center;">
					<span class="btn btn-sm btn-info" id="btn_nextpage">>>>
						继续加载{$sh1_page_listnum1}条数据</span>
					<script>
								$("#btn_nextpage").click(function(e) {
                                    loadmore();
                                });
							</script>
				</div>
			
				<!-- 新建开始 -->
				<div class="span12" id="div_addnew" style="display: none;">
					<fieldset>
						<legend>编辑控件属性</legend>
						<div class="control-group">
							<label class="control-label">名称</label>
							<div class="controls">
								<input type="text" class="input-xlarge" id="cname" placeholder="请输入控件名称..." />
							</div>
						</div>
						
						<div class="control-group">
							<label class="control-label">关键值</label>
							<div class="controls">
								<input type="text" class="input-xlarge" id="cval" placeholder="请输入控件关键值..." />
							</div>
						</div>
						
						<div class="control-group">
							<label class="control-label">数量</label>
							<div class="controls">
								<input type="text" class="input-xlarge" id="ccnt" placeholder="请设置数量..." />
							</div>
						</div>
						
						<div class="control-group">
							<label class="control-label">长度</label>
							<div class="controls">
								<input type="text" class="input-xlarge" id="clen" placeholder="请输入长度..." />
							</div>
						</div>
						
						<div class="control-group">
							<label class="control-label">位置</label>
							<div class="controls">
								<input type="text" class="input-xlarge" id="cloc" placeholder="0为不计算位置，请输入位置..." />
							</div>
						</div>
						
						<div class="control-group">
							<label class="control-label">数据类型</label>
							<div class="controls">
								<select id="ctype">
									<option selected disabled>请选择...</option>
									<option value="str">字符型 (不包含具有运算意义的任意字符，如：a~z 0~9)</option>
									<option value="int">数字整数型 (如：0~9)</option>
								</select>
							</div>
						</div>
						
						<div class="control-group">
							<label class="control-label">条件、操作</label>
							<div class="controls">
								<select id="ccond">
									<option selected disabled>请选择...</option>
									<option value=">"> > (大于) </option>
									<option value=">"> < (小于) </option>
									<option value="="> = (等于) </option>
								</select>
							</div>
						</div>
						
						<div class="control-group">
							<label class="control-label">说明(方便了解控件信息)</label>
							<div class="controls">
								<input type="text" class="input-xlarge" id="cinfo" placeholder="请用最多60字简要说明该控件，也可不填" />
							</div>
						</div>

						<div class="form-actions">
							<button type="button" class="btn btn-primary" id="btn_save">保存</button>
							<button class="btn btn-sm btn-danger" id="btn-cancel">取消并收起</button>
							<input type="hidden" value="0" id="id" /> <input type="hidden"
								id="picurl" /> <input type="hidden" id="picid"
								value="{$_GET['id']}" />
							<script>
									//清空表单
									function clearfm(){
										$("#id").val("0");
										$("#cname").val("");
										$("#cval").val("");
										$("#ccnt").val("");
										$("#clen").val("");
										$("#ccond").val("");
										$("#cloc").val("");
										$("#ctype").val("");
										$("#cinfo").val("");
									}
									$("#btn-cancel").click(function(e) {
										clearfm();
										$("#div_addnew").fadeOut(800);
										$("#tcontent").fadeIn(800);
										$("#pagebox").fadeIn(800);
                                    });
									$("#btn_save").click(function(e) {
										var id=$("#id").val();
										var cname=$("#cname").val();
										var cval=$("#cval").val();
										var ccnt=$("#ccnt").val();
										var clen=$("#clen").val();
										var ccond=$("#ccond").val();
										var cloc=$("#cloc").val();
										var ctype=$("#ctype").val();
										var cinfo=$("#cinfo").val();
										if(id=='' || cname=='' || ccnt=='' || clen=='' || ccond=='' || cloc=='' || ctype==''){
											modal('提示','信息不完整');
											return;
										}
                                        var URL='__CONTROLLER__';
										$.ajax({
											type:'POST',
											url:URL + '/save_ctrl',
											data:{
												id:id,
												cname:cname,
												cval:cval,
												ccnt:ccnt,
												clen:clen,
												ccond:ccond,
												cloc:cloc,
												ctype:ctype,
												cinfo:cinfo
												},
											dataType:"text",
											beforeSend:function() { 
												sh_loading();
												}, 
												complete:function(data) { 
												sh_loading_close();
												}, 
											success: function(data){
												clearfm();
												if(data=='ok'){
													window.location.reload();
												}else{
													modal('错误','保存失败');
												}
											}
										});

                                    });
								</script>
						</div>
					</fieldset>
				</div>
			</div>
		</div>
	</div>
	<script>
			//栏目列表
			function loadmore(){
										$("#btn_nextpage").html('请稍后...');
										$("#btn_nextpage").removeClass("btn-info");
										var URL='__CONTROLLER__';
										var s=$("#curpage").val();
										$.ajax({
											type:'POST',
											url:URL + '/list_ctrl',
											data:{
												s:s
												},
											dataType:"text",
											beforeSend:function() { 
												sh_loading();
												}, 
												complete:function(data) { 
												sh_loading_close();
												}, 
											success: function(data){
												var b=$.parseJSON(data);
												var str="";
												if(b.length<1){
													$("#btn_nextpage").html('我也是有底线的');
													$("#btn_nextpage").slideUp(1000);
													return;
												}
												var show1,show2
												for (var i=0;i<b.length;i++)
												{


str=str+'<tr>';
str=str+'	<td>';
str=str+b[i].id;
str=str+'	</td>';
str=str+'	<td>';
str=str+'<a href="javascript:;" onclick="modal('+"'"+b[i].cname+"','"+b[i].cinfo+"'"+')">'+b[i].cname+'</a>';
str=str+'	</td>';
str=str+'	<td>';
str=str+b[i].cval;
str=str+'	</td>';
str=str+'	<td>';
str=str+b[i].ccnt;
str=str+'	</td>';
str=str+'	<td>';
str=str+b[i].clen;
str=str+'	</td>';
str=str+'	<td>';
str=str+b[i].ccond;
str=str+'	</td>';
str=str+'	<td>';
str=str+b[i].cloc;
str=str+'	</td>';
str=str+'	<td>';
str=str+b[i].ctype;
str=str+'	</td>';
str=str+'	<td>';
str=str+'		<a href="javascript:;" onclick="load_ctrl('+"'"+b[i].id+"'"+')" class="view-link">修改</a>';
str=str+'		<a href="javascript:;" class="view-link" onclick="del_ctrl('+"'"+b[i].id+"'"+')">删除</a>';
str=str+'	</td>';
str=str+'</tr>';
												}
											var pgn="{$sh1_page_listnum1}";
											$("#curpage").val(parseInt(s)+parseInt(pgn));
											$("#content").append(str);
											$("#btn_nextpage").html('>>> 继续加载{$sh1_page_listnum1}条数据');
											$("#btn_nextpage").addClass("btn-info");
											}
										});
			}
			//读取
			function load_ctrl(id){
				
				var URL='__CONTROLLER__';
					$.ajax({
						type:'POST',
						url:URL + '/load_ctrl',
						data:{
							id:id
							},
						dataType:"text",
											beforeSend:function() { 
												sh_loading();
												}, 
												complete:function(data) { 
												sh_loading_close();
												},  
						success: function(data){
							var b=$.parseJSON(data);
							$("#id").val(b.id);
							$("#cname").val(b.cname);
							$("#cval").val(b.cval);
							$("#ccnt").val(b.ccnt);
							$("#clen").val(b.clen);
							$("#ccond").val(b.ccond);
							$("#cloc").val(b.cloc);
							$("#ctype").val(b.ctype);
							$("#cinfo").val(b.cinfo);
							
							$("#div_addnew").fadeIn(1000);
							$("#tcontent").fadeOut(800);
							$("#pagebox").fadeOut(800);
						}
					});
			}
			
			
			function del_ctrl(id){
				if(id==''){
					modal('错误','数据错误');
					return;
				}else if(confirm("确定要删除吗？")){
					var URL='__CONTROLLER__';
					$.ajax({
						type:'POST',
						url:URL + '/del_ctrl',
						data:{
							id:id
							},
						dataType:"text",
											beforeSend:function() { 
												sh_loading();
												}, 
												complete:function(data) { 
												sh_loading_close();
												}, 
						success: function(data){
							if(data=='ok'){
								window.location.reload();
							}else if(data=='hasuse'){
								modal('错误','控件正在被[模块]或[模块内容]使用，无法删除。<br/>可先删除模块，然后再试');
							}else{
								modal('错误','删除失败');
							}
						}
					});
				}
			}
			
		</script>
	<input type="hidden" id="curpage" value="0" />
</body>
</html>