<!DOCTYPE html>
<!--[if lt IE 7 ]><html lang="en" class="ie6 ielt7 ielt8 ielt9"><![endif]-->
<!--[if IE 7 ]><html lang="en" class="ie7 ielt8 ielt9"><![endif]-->
<!--[if IE 8 ]><html lang="en" class="ie8 ielt9"><![endif]-->
<!--[if IE 9 ]><html lang="en" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<include file="Public:head" />
<include file="Public:script" />
<body onLoad="loadmore()">
	<include file="Public:alerts" />
	<div class="container">
		<if condition="$_GET['select'] neq 'yes'"> <include
			file="Public:header" /> </if>
		<div class="row">
			<if condition="$_GET['select'] neq 'yes'">
			<div class="span3">
				<div class="well" style="padding: 8px 0;">
					<include file="Public:menu" />
				</div>
			</div>
			</if>

			<!---开始--->
			<div class="span12">
				<h2>图库</h2>

				<div class="well blank-slate" id="gbodx">
					<div id="myCarousel" style="display: none;" class="carousel slide"
						data-interval="1000" data-data-pause="click">
						<!-- 轮播（Carousel）项目 -->
						<div class="carousel-inner">
							<volist name="carousel_list" id="cid" key="k"> <if
								condition="$k eq 1">
							<div class="item active" style="overflow: hidden; height: 300px;">
								<img src="{$cid.picurl}" style="max-width: 100%;"
									alt="First slide">
							</div>
							<else />
							<div class="item" style="overflow: hidden; height: 300px;">
								<img src="{$cid.picurl}" style="max-width: 100%;"
									alt="Second slide">
							</div>
							</if> </volist>
						</div>
						<!-- 轮播（Carousel）导航 -->
						<a class="carousel-control left" href="#myCarousel"
							data-slide="prev">&lsaquo; </a> <a class="carousel-control right"
							href="#myCarousel" data-slide="next">&rsaquo; </a>
					</div>
					<div
						style="border-bottom: solid 1px #999; margin: 10px; display: none;"></div>
					<p>点击按钮添加图库</p>
					<a href="#" class="btn btn-primary" id="btn_addnew"><i
						class="icon-plus icon-white"></i> 创建新图库</a>
					<script>
								$("#btn_addnew").click(function(e) {
                                    $("#div_addnew").fadeIn(800);
									$("#content").fadeOut(800);
									$("#pagebox").fadeOut(800);
                                });
							</script>
				</div>
				<ul class="thumbnails" id="content">
				</ul>
				<div id="pagebox" style="padding: 5px; text-align: center;">
					<span class="btn btn-sm btn-info" id="btn_nextpage">>>>
						继续加载{$sh1_page_listnum1}条数据</span>
					<script>
								$("#btn_nextpage").click(function(e) {
                                    loadmore();
                                });
							</script>
				</div>

				<!-- 新建开始 -->
				<div class="span9" id="div_addnew" style="display: none;">
					<fieldset>
						<legend>编辑图库</legend>
						<div class="control-group">
							<label class="control-label">名称</label>
							<div class="controls">
								<input type="text" class="input-xlarge" id="pictitle"
									placeholder="请输入名称..." />
								<script>
										$(function(){
											$("#pictitle").val('图库_'+getNowFormatDate("1"));
										})
									</script>
							</div>
						</div>
						<div class="form-actions">
							<button type="button" class="btn btn-primary" id="btn_save">保存</button>
							<button class="btn btn-sm btn-danger" id="btn-cancel">取消并收起</button>
							<input type="hidden" value="0" id="id" />
							<script>
									//子窗口赋值
									function getV(v,cid){
										window.parent.getV(v,cid);
									}
									//清空表单
									function clearfm(){
										$("#id").val("0");
										$("#pictitle").val("");
									}
									$("#btn-cancel").click(function(e) {
										clearfm();
                                        $("#div_addnew").fadeOut(800);
										$("#content").fadeIn(800);
										$("#pagebox").fadeIn(800);
                                    });
									$("#btn_save").click(function(e) {
										var id=$("#id").val();
										var pictitle=$("#pictitle").val();
										if(id=='' || pictitle==''){
											balert('warning','信息不完整');
											return;
										}
                                        var URL='__CONTROLLER__';
										$.ajax({
											type:'POST',
											url:URL + '/save_pic',
											data:{
												id:id,
												pictitle:pictitle
												},
											dataType:"text",
											beforeSend:function() { 
												sh_loading();
												}, 
												complete:function(data) { 
												sh_loading_close();
												}, 
											success: function(data){
												clearfm();
												if(data=='ok'){
													window.location.reload();
												}else if(data=='rename'){
													modal('提示','这个图库已经有了');
												}else{
													modal('错误','保存失败');
												}
											}
										});

                                    });
								</script>
						</div>
					</fieldset>
				</div>
				<include file="Public:foot" />
			</div>
		</div>
	</div>
	<script>
			//栏目列表
			function loadmore(){
										$("#btn_nextpage").html('请稍后...');
										$("#btn_nextpage").removeClass("btn-info");
										var URL='__CONTROLLER__';
										var s=$("#curpage").val();
										$.ajax({
											type:'POST',
											url:URL + '/list_pic',
											data:{
												s:s
												},
											dataType:"text",
											beforeSend:function() { 
												sh_loading();
												}, 
												complete:function(data) { 
												sh_loading_close();
												}, 
											success: function(data){
												var b=$.parseJSON(data);
												var str="";
												if(b.length<1){
													$("#btn_nextpage").html('我也是有底线的');
													$("#btn_nextpage").slideUp(1000);
													return;
												}
												var show1,show2,show3,show4
												show3="{$_GET['select']}";
												show4="{$_GET['cid']}";
												for (var i=0;i<b.length;i++)
												{
show1=b[i].pic1
if(show1!='0'){
	show2='<img src="'+show1+'"/>';
}else{
	show2='<img src="__PUBLIC__/admin/img/noimg.gif"/>';
}

str=str+'<li class="span3">';
str=str+'	<div class="thumbnail">';
str=str+show2;
str=str+'		<div class="caption">';
str=str+'			<h5>#'+b[i].id+'&nbsp;'+b[i].pictitle+'</h5>';
str=str+'			<p><a href="javascript:;" data-lity data-lity-target="'+URL+'/items/id/'+b[i].id+'/select/'+show3+'/cid/'+show4+'">进入图库</a> | <a href="javascript:;" onclick="del_cate('+"'"+b[i].id+"'"+')">删除</a> </p>';
str=str+'		</div>';
str=str+'	</div>';
str=str+'</li>';
												}
											var pgn="{$sh1_page_listnum1}";
											$("#curpage").val(parseInt(s)+parseInt(pgn));
											$("#content").append(str);
											$("#btn_nextpage").html('>>> 继续加载{$sh1_page_listnum1}条数据');
											$("#btn_nextpage").addClass("btn-info");
											}
										});
			}
			//读取
			function load_cate(id){
				var URL='__CONTROLLER__';
					$.ajax({
						type:'POST',
						url:URL + '/load_cate',
						data:{
							id:id
							},
						dataType:"text",
											beforeSend:function() { 
												sh_loading();
												}, 
												complete:function(data) { 
												sh_loading_close();
												}, 
						success: function(data){
							var b=$.parseJSON(data);
							$("#id").val(b.id);
							$("#catetitle").val(b.catetitle);
							$("#fid").val(b.fid);
							$("#url").val(b.url);
							//icon
							$("#cont").val(b.cont);
							$("#ismenu").val(b.ismenu);
							$("#isshow").val(b.isshow);
							$("#orderid").val(b.orderid);
							$("#div_addnew").fadeIn(1000);
						}
					});
			}
			function del_cate(id){
				if(id==''){
					modal('错误','数据错误');
					return;
				}else if(confirm("确定要删除吗？")){
					var URL='__CONTROLLER__';
					$.ajax({
						type:'POST',
						url:URL + '/del_pic',
						data:{
							id:id
							},
						dataType:"text",
											beforeSend:function() { 
												sh_loading();
												}, 
												complete:function(data) { 
												sh_loading_close();
												}, 
						success: function(data){
							if(data=='ok'){
								window.location.reload();
							}else if(data=='hasfiles'){
								modal('提示','图库内还有文件，因此图库不能被删除');
							}else{
								modal('错误','删除失败');
							}
						}
					});
				}
			}
		</script>
	<input type="hidden" id="curpage" value="0" />
</body>
</html>