<!DOCTYPE html>
<!--[if lt IE 7 ]><html lang="en" class="ie6 ielt7 ielt8 ielt9"><![endif]-->
<!--[if IE 7 ]><html lang="en" class="ie7 ielt8 ielt9"><![endif]-->
<!--[if IE 8 ]><html lang="en" class="ie8 ielt9"><![endif]-->
<!--[if IE 9 ]><html lang="en" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<include file="Public:head" />
<include file="Public:script" />
<body onLoad="loadmore()">
	<include file="Public:alerts" />
	<div class="container">
		<include file="Public:header" />
		<div class="row">
			<div class="span3">
				<div class="well" style="padding: 8px 0;">
					<include file="Public:menu" />
				</div>
			</div>

			<!---开始--->
			<div class="span9">
				<h2>品牌列表</h2>
				<div class="well blank-slate" id="gbodx">
					<p>点击按钮创建新的品牌</p>
					<span class="btn btn-sm btn-success" id="btn-addnew">新建品牌</span>
					<script>
								$("#btn-addnew").click(function(e) {
                                    $("#div_addnew").fadeIn(800);
									$("#tcontent").fadeOut(800);
									$("#pagebox").fadeOut(800);
                                });
							</script>
				</div>
				<table id="tcontent" class="table table-bordered table-striped">
					<thead>
						<tr>
							<th>ID</th>
							<th>名称</th>
							<th>所在栏目</th>
							<th>LOGO</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody id="content"></tbody>
				</table>
				<div id="pagebox" style="padding: 5px; text-align: center;">
					<span class="btn btn-sm btn-info" id="btn_nextpage">>>>
						继续加载{$sh1_page_listnum1}条数据</span>
					<script>
								$("#btn_nextpage").click(function(e) {
                                    loadmore();
                                });
							</script>
				</div>
				<!--开始-->
				<div class="span9" id="div_addnew" style="display: none;">
					<fieldset>
						<legend>编辑品牌</legend>
						<div class="control-group">
							<label class="control-label">品牌名称</label>
							<div class="controls">
								<input type="text" class="input-xlarge" id="pinpaititle"
									placeholder="请输入品牌名称..." />
							</div>
						</div>

						<div class="control-group">
							<label class="control-label">选择栏目</label>
							<div class="controls">
								<select id="fid" class="input-xlarge">
									<volist name="cate_list" id="cate">
									<option value="{$cate.id}" disabled>---------{$cate.catetitle}---------</option>
									<volist name="cate['sub']" id="ii">
									<option value="{$ii.id}">{$ii.catetitle}</option>
									</volist> </volist>
								</select>
							</div>
						</div>

						<div class="control-group">
							<label class="control-label">品牌LOGO</label>
							<div class="controls">
								<a href="javascript:;" id="btn_selicon"
									class="btn btn-sm btn-success">从图库中选择...</a> <a
									href="javascript:;" id="btn_icon_view"
									class="btn btn-sm btn-info">图标预览</a>
								<script>
										var lightbox;
										$("#btn_selicon").click(function(e) {
                                            // Open a URL in a lightbox
											lightbox = lity("{:C('ROOT_DIR')}/home/pic/index/select/yes");
											
											// Bind as an event handler
											$(document).on('click', '[data-lightbox]', lity);
                                        });
										$("#btn_icon_view").click(function(e) {
                                            if($("#logo").val()==''){
												balert('warning','还没设置图标');
											}else{
												var id=$("#logo").val();
												var URL='__CONTROLLER__';
												$.ajax({
													type:'POST',
													url:URL + '/get_iconurl_byid',
													data:{
														id:id
														},
													dataType:"text",
											beforeSend:function() { 
												sh_loading();
												}, 
												complete:function(data) { 
												sh_loading_close();
												}, 
													success: function(data){
														lightbox = lity(data);
													}
												});

											}
                                        });
									</script>
							</div>
						</div>

						<div class="control-group">
							<label class="control-label">品牌详情</label>
							<div class="controls">
								<div id="teditor"></div>
								<script type="text/javascript"
									src="__PUBLIC__/editor/wangEditor.js"></script>
								<script type="text/javascript">
                                        var E = window.wangEditor
                                        var editor = new E('#teditor')
                                        // 或者 var editor = new E( document.getElementById('#editor') )
                                        editor.create()
                                    </script>
							</div>
						</div>

						<div class="form-actions">
							<button type="button" class="btn btn-primary" id="btn_save">保存</button>
							<button class="btn btn-sm btn-danger" id="btn-cancel">取消并收起</button>
							<input type="hidden" value="0" id="id" /> <input type="hidden"
								id="logo" />
							<script>
									//子窗口赋值
									function getV(v){
										$("#logo").val(v);
										lightbox.close();
									}
									//清空表单
									function clearfm(){
										$("#id").val("0");
										$("#pinpaititle").val("");
										$("#logo").val("");
									}
									$("#btn-cancel").click(function(e) {
										clearfm();
                                        $("#div_addnew").fadeOut(800);
										$("#tcontent").fadeIn(800);
										$("#pagebox").fadeIn(800);
                                    });
									$("#btn_save").click(function(e) {
										var id=$("#id").val();
										var pinpaititle=$("#pinpaititle").val();
										var logo=$("#logo").val();
										var fid=$("#fid").val();
										var pcont;
										pcont=editor.txt.html();
										if(id=='' || pinpaititle=='' || logo==''){
											balert('warning','信息不完整');
											return;
										}
                                        var URL='__CONTROLLER__';
										$.ajax({
											type:'POST',
											url:URL + '/save_pinpai',
											data:{
												id:id,
												pinpaititle:pinpaititle,
												logo:logo,
												fid:fid,
												pcont:pcont
												},
											dataType:"text",
											beforeSend:function() { 
												sh_loading();
												}, 
												complete:function(data) { 
												sh_loading_close();
												}, 
											success: function(data){
												clearfm();
												if(data=='ok'){
													window.location.reload();
												}else if(data=='rename'){
													balert('warning','这个品牌已经有了');
												}else{
													balert('danger','保存失败');
												}
											}
										});

                                    });
								</script>
						</div>
					</fieldset>
				</div>
				<include file="Public:foot" />
			</div>
		</div>
	</div>
	<script>
			//记载品牌列表
			function loadmore(){
										$("#btn_nextpage").html('请稍后...');
										$("#btn_nextpage").removeClass("btn-info");
										var URL='__CONTROLLER__';
										var s=$("#curpage").val();
										$.ajax({
											type:'POST',
											url:URL + '/list_pinpai',
											data:{
												s:s
												},
											dataType:"text",
											beforeSend:function() { 
												sh_loading();
												}, 
												complete:function(data) { 
												sh_loading_close();
												}, 
											success: function(data){
												var b=$.parseJSON(data);
												var str="";
												var catename="";
												if(b.length<1){
													$("#btn_nextpage").html('我也是有底线的');
													$("#btn_nextpage").slideUp(1000);
													return;
												}
												for (var i=0;i<b.length;i++)
												{
													/*
													获取栏目名字
													*/
													catename=getCateName(b[i].fid,b[i].id);
													
str=str+'<tr>';
str=str+'	<td>';
str=str+b[i].id;
str=str+'	</td>';
str=str+'	<td>';
str=str+b[i].pinpaititle;
str=str+'	</td>';
str=str+'	<td id="list_catename_'+b[i].id+'">';
str=str+'读取中...';
str=str+'	</td>';
str=str+'	<td>';
str=str+'<a href="javascript:;" onclick="viewicon('+"'"+b[i].logo+"'"+')">查看</a>';
str=str+'	</td>';
str=str+'	<td>';
str=str+'		<a href="javascript:;" onclick="load_pinpai('+"'"+b[i].id+"'"+')" class="view-link">修改</a>';
str=str+'		<a href="javascript:;" class="view-link" onclick="del_pinpai('+"'"+b[i].id+"'"+')">删除</a>';
str=str+'	</td>';
str=str+'</tr>';
												}
											var pgn="{$sh1_page_listnum1}";
											$("#curpage").val(parseInt(s)+parseInt(pgn));
											$("#content").append(str);
											$("#btn_nextpage").html('>>> 继续加载{$sh1_page_listnum1}条数据');
											$("#btn_nextpage").addClass("btn-info");
											}
										});
			}
			
			//列表中预览图标
			function viewicon(id){
				if(id==''){
					balert('warning','还没设置图标');
				}else{
					var URL='__CONTROLLER__';
					$.ajax({
						type:'POST',
						url:URL + '/get_iconurl_byid',
						data:{
							id:id
						},
						dataType:"text",
											beforeSend:function() { 
												sh_loading();
												}, 
												complete:function(data) { 
												sh_loading_close();
												}, 
													success: function(data){
														lightbox = lity(data);
													}
												});

											}
			}
			
			//读取一个品牌
			function load_pinpai(id){
				var URL='__CONTROLLER__';
					$.ajax({
						type:'POST',
						url:URL + '/load_pinpai',
						data:{
							id:id
							},
						dataType:"text",
											beforeSend:function() { 
												sh_loading();
												}, 
												complete:function(data) { 
												sh_loading_close();
												}, 
						success: function(data){
							var b=$.parseJSON(data);
							$("#id").val(b.id);
							$("#pinpaititle").val(b.pinpaititle);
							$("#logo").val(b.logo);
							editor.txt.html(b.pcont);
							$("#fid").val(b.fid);
							$("#div_addnew").fadeIn(1000);
						}
					});
			}
			//获取栏目名称
			function getCateName(cateid,id){
				var URL='__CONTROLLER__';
				$.ajax({
						type:'POST',
						url:URL + '/get_path',
						data:{
							cateid:cateid
							},
						dataType:"text",
						success: function(data){
							$("#list_catename_"+id).html(data);
						}
					});
			}
			function del_pinpai(id){
				if(id==''){
					balert('danger','数据错误');
					return;
				}else if(confirm("确定要删除吗？")){
					var URL='__CONTROLLER__';
					$.ajax({
						type:'POST',
						url:URL + '/del_pinpai',
						data:{
							id:id
							},
						dataType:"text",
											beforeSend:function() { 
												sh_loading();
												}, 
												complete:function(data) { 
												sh_loading_close();
												}, 
						success: function(data){
							if(data=='ok'){
								window.location.reload();
							}else{
								balert('danger','删除失败');
							}
						}
					});
				}
			}
		</script>
	<input type="hidden" id="curpage" value="0" />
</body>
</html>