<head>
<meta charset="utf-8">
<title>{:C('WEB_NAME')}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="__PUBLIC__/admin/css/bootstrap.min.css" rel="stylesheet">
<link href="__PUBLIC__/admin/css/bootstrap-responsive.min.css"
	rel="stylesheet">
<link href="__PUBLIC__/admin/css/bootstrap-theme.min.css"
	rel="stylesheet">
<link href="__PUBLIC__/admin/css/site.css" rel="stylesheet">
<link href="__PUBLIC__/lity/lity.min.css" rel="stylesheet">
  <link rel="stylesheet" href="__PUBLIC__/jquery-ui/jquery-ui.min.css">

<!--上传插件-->
<link rel="stylesheet" type="text/css"
	href="__PUBLIC__/uploadify/uploadify.css">
<!--loading-->
<link rel="stylesheet" href="__PUBLIC__/loading/load.css" media="all">
<!--字体图标-->
<link rel="stylesheet"
	href="__PUBLIC__/font-awesome/css/font-awesome.min.css" media="all">
<!-- 标题小图标 -->
<link rel="icon" type="image/x-icon" href="__PUBLIC__/aap.ico" />
<Link Rel="SHORTCUT ICON" href="__PUBLIC__/aap.ico">
</head>
