<!DOCTYPE html>
<!--[if lt IE 7 ]><html lang="en" class="ie6 ielt7 ielt8 ielt9"><![endif]-->
<!--[if IE 7 ]><html lang="en" class="ie7 ielt8 ielt9"><![endif]-->
<!--[if IE 8 ]><html lang="en" class="ie8 ielt9"><![endif]-->
<!--[if IE 9 ]><html lang="en" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<include file="Public:head" />
<include file="Public:script" />
<body>
	<include file="Public:alerts" />
	<div class="container">
		<include file="Public:header" />
		<div class="row">
			<div class="span3">
				<div class="well" style="padding: 8px 0;">
					<include file="Public:menu" />
				</div>
			</div>

			<!---开始--->
			<div class="span9">
				<div class="hero-unit">
					<h1>shcmstp3</h1>
					<p>开源、基于ThinkPHP3、简单易用</p>
					<p>
						<a href="{:C('ROOT_DIR')}/home/index/git" class="btn btn-lg btn-success"><i class="fa fa-download fa-lg"></i> 获取源码</a>
					</p>
				</div>
				<h2>{$CNAME}</h2>
				<div class="well summary">
					<ul>
						<li><span class="count" style="margin-bottom: 10px;">
								<i class="fa fa-users"></i> {$users}
						</span>注册会员</li>
						<li><span class="count" style="margin-bottom: 10px;">
								<i class="fa fa-file"></i> {$article}
						</span>文章</li>
						<li><span class="count" style="margin-bottom: 10px;">
								<i class="fa fa-image"></i> {$pic}
						</span>图片库</li>
						<li class="last"><span class="count"
							style="margin-bottom: 10px;"> <i class="fa fa-folder-open"></i>
								{$category}
						</span>栏目</li>
						<li class="last"><span class="count"
							style="margin-bottom: 10px;"> <i class="fa fa-folder-open"></i>
								{$model}
						</span>模块</li>
					</ul>
				</div>
				<h2>
					<i class="fa fa-list-ol"></i> 最新发生的事儿
				</h2>
				<table class="table table-bordered table-striped">
					<tbody id="logtab"><!-- 这里自动加载日志列表 --></tbody>
				</table>
				<script>
					$(function(){
						sh_loading();
						$.post("__CONTROLLER__/log_top10",{},function(data){
							var n=1;
							for(var i=0;i<data.length;i++){
								n=i+1;
								$("#logtab").append("<tr><td>"+n+"</td><td>"+data[i].logdate+' <font color=red>'+data[i].uname+'</font>,'+data[i].action+',  '+data[i].actcont+"</td></tr>");
							}
						})
						sh_loading_close();
					})
				</script>
				<ul class="pager">
					<li class="next"><a href="{:C('ROOT_DIR')}/home/logmgr"><i class="fa fa-list"></i> 更多 </a></li>
				</ul>
				<include file="Public:foot" />
			</div>
		</div>
	</div>
</body>
</html>