<!DOCTYPE html>
<!--[if lt IE 7 ]><html lang="en" class="ie6 ielt7 ielt8 ielt9"><![endif]-->
<!--[if IE 7 ]><html lang="en" class="ie7 ielt8 ielt9"><![endif]-->
<!--[if IE 8 ]><html lang="en" class="ie8 ielt9"><![endif]-->
<!--[if IE 9 ]><html lang="en" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<include file="Public:head" />
<include file="Public:script" />
<include file="Public:alerts" />
<body>
	<!--登录页面视觉差效果-->
	<link rel="stylesheet" type="text/css"
		href="__PUBLIC__/admin/eff_index/css/normalize.css" />
	<link rel="stylesheet" type="text/css"
		href="__PUBLIC__/admin/eff_index/css/styles.css">
	<main>
	<div id="overlay"></div>
	<ul id="scene">
		<li class="layer" data-depth="0.2">
			<div class="layer1"></div>
		</li>
	</ul>
	<div class="wrapper">
		<div class="htmleaf-header">
			<div id="login-page" class="container">
				<h1>
					<font color="#FFFFFF">{:C('WEB_NAME')}</font>
				</h1>
				<form id="login-form" class="well">
					<input type="text" class="" id="uname" style="width: 95%;"
						placeholder="账号" /> <br /> <input type="password" class=""
						id="upswd" style="width: 95%;" placeholder="密码" /> <br /> <input
						type="text" class="" id="verify" style="width: 95%;"
						placeholder="请输入下面验证码数字" /> <img src="{:U('home/index/verify')}"
						style="border: solid 1px #999; border-radius: 5px; width: 99%;"
						onclick="this.src=this.src+'?'" id="imgcode" />
					<div style="margin-top: 10px;"></div>
					<div style="padding: 5px; color: #999; float: left;">
						<span id="info"
							style="width: 170px; display: block; padding: 5px; text-align: left; float: left; font-size: 11px;">请点击按钮登录</span>
						<button type="button" id="login_sub" class="btn btn-primary">登录</button>
					</div>
					<div class="clearfix"></div>
				</form>
			</div>
		</div>
	</div>
	</main>
	<!--登录页面视觉差效果-->
	<script src='__PUBLIC__/admin/eff_index/js/jquery.parallax.min.js'></script>
	<script>
	$("#login_sub").click(function(e) {
        var URL='__CONTROLLER__';
		var codev=$("#verify").val();
		if(codev==''){
			$("#info").html("<font color='#950000'>请输入验证码...</font>");
			return;
		}
		$.ajax({
			type:'GET',
			url:URL + '/check_verify',
			data:{
				code:codev
				},
			dataType:"text",
											beforeSend:function() { 
												$("#info").html('正在发送请求...');
												}, 
												complete:function(data) { 
												//sh_loading_close();
												}, 
			success: function(data){
				if (data == '1') {
					$("#login_sub").addClass('btn-primary');
					$("#login_sub").removeClass('btn-danger');
					$("#info").html('正在登录,稍后将自动跳转...');
					gologin();
				} else  {
					//验证码输入错误
					$("#info").html("<font color='#950000'>验证码错误</font>");
					$("#imgcode").click();
					$("#login_sub").removeClass('btn-primary');
					$("#login_sub").addClass('btn-danger');
				}
			}
		});
    });
	$(document).keydown(function (event) {
		if (event.keyCode == 13) {
			$("#login_sub").click();
		}
	});
	$(document).ready(function () {
	    $('#scene').parallax();
	});
	</script>

	<script language="javascript">
	function gologin() {
		var uname=$("#uname").val();
		var upswd=$("#upswd").val();
		if(uname==''||upswd==''){
			$("#info").html("<font color='#950000'>请填写完整</font>");
			return;
		}
        var URL='__CONTROLLER__';
		$.ajax({
			type:'POST',
			url:URL + '/chk_login',
			data:{
				uname:uname,
				upswd:upswd
				},
			dataType:"text",
											beforeSend:function() { 
												sh_loading();
												}, 
												complete:function(data) { 
												sh_loading_close();
												}, 
			success: function(data){
				if(data!='err'){
					window.location.href="{:C('ROOT_DIR')}";
				}else{
					$("#imgcode").click();
					modal('啊哦','登录失败了……');
					$("#info").html('请重试...');
				}
			}
		});
    };
</script>
</body>
</html>