<!DOCTYPE html>
<!--[if lt IE 7 ]><html lang="en" class="ie6 ielt7 ielt8 ielt9"><![endif]-->
<!--[if IE 7 ]><html lang="en" class="ie7 ielt8 ielt9"><![endif]-->
<!--[if IE 8 ]><html lang="en" class="ie8 ielt9"><![endif]-->
<!--[if IE 9 ]><html lang="en" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<include file="Public:head" />
<include file="Public:script" />
<body onLoad="loadmore()">
	<include file="Public:alerts" />
	<div class="container">
		<include file="Public:header" />
		<div class="row">
			<div class="span3">
				<div class="well" style="padding: 8px 0;">
					<include file="Public:menu" />
				</div>
			</div>

			<!---开始--->
			<div class="span9">
				<h2>在职管理员</h2>
				<div class="well blank-slate" id="gbodx">
					<p>点击按钮新建一个管理员账号</p>
					<a href="javascript:;" class="btn btn-primary" id="btn_addnew"><i
						class="icon-plus icon-white"></i> 创建账号</a>
					<script>
								$("#btn_addnew").click(function(e) {
                                    $("#div_addnew").fadeIn(800);
									$("#pagebox").fadeOut(800);
									$("#tcontent").fadeOut(800);
                                });
							</script>
				</div>
				<table id="tcontent" class="table table-bordered table-striped"
					style="text-align: center">
					<thead>
						<tr>
							<th style="text-align: center">ID</th>
							<th style="text-align: center">登录名</th>
							<th style="text-align: center">权限标识</th>
							<th style="text-align: center">操作</th>
						</tr>
					</thead>
					<tbody id="content"></tbody>
					<tbody>
					</tbody>
				</table>
				<div id="pagebox" style="padding: 5px; text-align: center;">
					<span class="btn btn-sm btn-info" id="btn_nextpage">>>>
						继续加载{$sh1_page_listnum1}条数据</span>
					<script>
								$("#btn_nextpage").click(function(e) {
									loadmore();
                                 
                                });
							</script>
				</div>
				<div class="span9" style="display: none" id="div_addnew">
					<form class="form-horizontal">
						<fieldset>
							<legend>编辑账户</legend>
							<div class="control-group">
								<label class="control-label" for="input01">账户登录名</label>
								<div class="controls">
									<input type="text" class="input-xlarge" id="uname"
										placeholder="请输入登录名..." />
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="input01">账户权限</label>
								<div class="controls">
									<select id="utype">
										<option disabled value="0" selected>请选择权限...</option>
										<option value="9">网站管理员-最高权限</option>
										<option value="5">网站管理员-次高权限</option>
										<option disabled>-</option>
										<option value="4">商城总管理员</option>
										<option value="3">商城活动管理员</option>
										<option value="2">商城商品管理员</option>
										<option disabled>-</option>
										<option value="1">文章管理员</option>
									</select>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="input01">密码</label>
								<div class="controls">
									<input type="text" class="input-xlarge" id="upswd"
										placeholder="请输入密码..." />
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="input01">效验密码</label>
								<div class="controls">
									<input type="text" class="input-xlarge" id="upswd1"
										placeholder="请再次输入密码..." />
								</div>
							</div>
							<div class="control-group">
								<span style="text-align:right;">可直接设置新的密码，或输入旧的密码(编辑时)，不能留空。</span>
							</div>
							<div class="form-actions">
								<button type="button" class="btn btn-primary" id="btn_save">保存</button>
								<button type="button" class="btn btn-sm btn-danger"
									id="btn-cancel">取消并收起</button>
								<input type="hidden" value="0" id="id" />
							</div>
							<script>
								function clearinput(){
									$("#uname").val('');
									$("#upswd").val('');
									$("#utype").val('0');
									$("#id").val('0');
									$("#uname").attr("disabled",false);
								}
								$("#btn-cancel").click(function(e) {
									clearinput();
                                    $("#div_addnew").fadeOut(800);
									$("#pagebox").fadeIn(800);
									$("#tcontent").fadeIn(800);
                                });
								$("#btn_save").click(function(e) {
									var id=$("#id").val();
									var uname=$("#uname").val();
									var upswd=$("#upswd").val();
									if(id=='1'){
										//balert('warning','请注意：你无法修改该管理员的类型，即使你选择了新的权限类型');
										var utype='9';
									}else{
										var utype=$("#utype").val();
									}
									
									var upswd1=$("#upswd1").val();
									if(id=='' || uname=='' || utype=='' || upswd==''){
										balert('warning','信息不完整');
										return;
									}
									if(upswd!=upswd1){
										balert('warning','两次输入的密码不同');
										return;
									}
									
                                    var URL='__CONTROLLER__';
									$.ajax({
										type:'POST',
										url:URL + '/save_mgrs',
										data:{
											id:id,
											uname:uname,
											upswd:upswd,
											utype:utype
											},
										dataType:"text",
											beforeSend:function() { 
												sh_loading();
												}, 
												complete:function(data) { 
												sh_loading_close();
												}, 
										success: function(data){
											clearinput();
											//alert(data);
											if(data=='ok'){
												window.location.reload();
											}else if(data=='rename'){
												balert('warning','账号已存在');
											}else{
												balert('danger','保存失败');
											}
										}
									});

                                });
							
							</script>

						</fieldset>
					</form>
				</div>
				<include file="Public:foot" />
			</div>
		</div>
	</div>
	<script>
		//加载文章列表
			function loadmore(){
										$("#btn_nextpage").html('请稍后...');
										$("#btn_nextpage").removeClass("btn-info");
										var URL='__CONTROLLER__';
										var s=$("#curpage").val();
										$.ajax({
											type:'POST',
											url:URL + '/list_mgrs',
											data:{
												s:s
												},
											dataType:"text",
											beforeSend:function() { 
												sh_loading();
												}, 
												complete:function(data) { 
												sh_loading_close();
												}, 
											success: function(data){
												var b=$.parseJSON(data);
												var str="";
												if(b.length<1){
													$("#btn_nextpage").html('我也是有底线的');
													$("#btn_nextpage").slideUp(1000);
													return;
												}
												for (var i=0;i<b.length;i++)
												{
str=str+'<tr>';
str=str+'	<td style="text-align:center">';
str=str+b[i].id;
str=str+'	</td>';
str=str+'	<td style="text-align:center">';
str=str+b[i].uname;
str=str+'	</td>';
str=str+'	<td style="text-align:center">';
str=str+b[i].utype;
str=str+'	</td>';

str=str+'	<td style="text-align:center">';
str=str+'		<a href="javascript:;" onclick="load_mgrs('+"'"+b[i].id+"'"+')" class="view-link">修改</a>';
str=str+'		<a href="javascript:;" class="view-link" onclick="del_mgrs('+"'"+b[i].id+"'"+')">删除</a>';
str=str+'	</td>';
str=str+'</tr>';
												}
											var pgn="{$sh1_page_listnum1}";
											$("#curpage").val(parseInt(s)+parseInt(pgn));
											$("#content").append(str);
											$("#btn_nextpage").html('>>> 继续加载{$sh1_page_listnum1}条数据');
											$("#btn_nextpage").addClass("btn-info");
											}
										});
			}
		
		 //获取
		 function load_mgrs(id){
			 var URL = '__CONTROLLER__';
			 $.ajax({
				 type:'POST',
				 url :URL+'/load_mgrs',
				 data :{id:id},
				 dataType:"text",
											beforeSend:function() { 
												sh_loading();
												}, 
												complete:function(data) { 
												sh_loading_close();
												}, 
					success: function(data){
						var b=$.parseJSON(data);
						$("#id").val(b.id);
						$("#uname").val(b.uname);
						//$("#upswd").val(b.upswd);
						$("#utype").val(b.utype);
						$("#div_addnew").fadeIn(1000);
						$("#uname").attr("disabled",true);
					}
			 });
		 } 
		/*  function load_article(id){
				var URL='__CONTROLLER__';
					$.ajax({
						type:'POST',
						url:URL + '/load_article',
						data:{
							id:id
							},
						dataType:"text",
						success: function(data){
							var b=$.parseJSON(data);
							$("#id").val(b.id);
							$("#atitle").val(b.atitle);
							$("#fid").val(b.fid);
							$("#acont").val(b.acont);
							$("#acont_top").val(b.acont_top);
							$("#isshow").val(b.isshow);
							$("#div_addnew").fadeIn(1000);
						}
					});
			} */
		
		 //删除一个文章
		 function del_mgrs(id){
			 if(id=="" || id=="1"){
				 balert('danger',"数据错误\r或无法删除网站创始人（ID为1的管理员）");
				 return;
			 }else if(confirm("确定要删除吗？\r如果你正在删除自己的账户，那么注销后将无法再次登录")){
				 var URL='__CONTROLLER__';
				 $.ajax({
					 type:'POST',
			     url:URL+'/del_mgrs',
			     data:{
			    	 	id:id
			    	 },
			     datatype:"text",
											beforeSend:function() { 
												sh_loading();
												}, 
												complete:function(data) { 
												sh_loading_close();
												},  
			     success:function(data){
			    	 if(data=='ok'){
							window.location.reload();
						}else{
							balert('danger','删除失败:'+data);
						}
			     }
			 });
				 
			 }
		 }
		 </SCRIPT>
	<input type="hidden" id="curpage" value="0" />
</body>
</html>