<!DOCTYPE html>
<!--[if lt IE 7 ]><html lang="en" class="ie6 ielt7 ielt8 ielt9"><![endif]-->
<!--[if IE 7 ]><html lang="en" class="ie7 ielt8 ielt9"><![endif]-->
<!--[if IE 8 ]><html lang="en" class="ie8 ielt9"><![endif]-->
<!--[if IE 9 ]><html lang="en" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<include file="Public:head" />
<include file="Public:script" />
<body onLoad="loadmore()">
	<include file="Public:alerts" />
	<div class="container">
		<include file="Public:header" />
		<div class="row">
			<div class="span3">
				<div class="well" style="padding: 8px 0;">
					<include file="Public:menu" />
				</div>
			</div>

			<!---开始--->
			<div class="span9">
				<h2>{$CNAME}</h2>
				<div class="well blank-slate" id="gbodx">
					<p>这里是系统日志，点击按钮可清空。</p>
					<a href="javascript:;" class="btn btn-danger" id="btn_addnew"><i	class="fa fa-arrow-circle-right"></i> 清空日志</a>
					<script>
								$("#btn_addnew").click(function(e) {
                                    var resu=confirm('是否要清空日志？');
                                    if(resu){
                                    	$.post("__CONTROLLER__/clear_logs",{},function(data){
                                    		if(data=='ok'){
                                    			window.location.reload();
                                    		}else{
                                    			modal('提示','清空数据库时发生错误');
                                    		}
                                    	})
                                    }
                                });
							</script>
				</div>
				<table id="tcontent" class="table table-bordered table-striped"style="text-align: left;">
					<thead>
						<tr>
							<th >ID</th>
							<th >日期</th>
							<th >详情</th>
						</tr>
					</thead>
					<tbody id="content"></tbody>
					<tbody>
					</tbody>
				</table>
				<div id="pagebox" style="padding: 5px; text-align: center;">
					<span class="btn btn-sm btn-info" id="btn_nextpage">>>>
						继续加载{$sh1_page_listnum1}条数据</span>
					<script>
								$("#btn_nextpage").click(function(e) {
									loadmore();
                                 
                                });
							</script>
				</div>
				<include file="Public:foot" />
			</div>
		</div>
	</div>
	<script>
		//加载
			function loadmore(){
										$("#btn_nextpage").html('请稍后...');
										$("#btn_nextpage").removeClass("btn-info");
										var URL='__CONTROLLER__';
										var s=$("#curpage").val();
										$.ajax({
											type:'POST',
											url:URL + '/list_logs',
											data:{
												s:s
												},
											dataType:"text",
											beforeSend:function() { 
												sh_loading();
												}, 
												complete:function(data) { 
												sh_loading_close();
												}, 
											success: function(data){
												var b=$.parseJSON(data);
												var str="";
												if(b.length<1){
													$("#btn_nextpage").html('我也是有底线的');
													$("#btn_nextpage").slideUp(1000);
													return;
												}
												var show1;
												for (var i=0;i<b.length;i++)
												{
str=str+'<tr>';
str=str+'	<td>';
str=str+b[i].id;
str=str+'	</td>';
str=str+'	<td>';
str=str+b[i].logdate;
str=str+'	</td>';
str=str+'	<td>';
str=str+b[i].uname+' '+b[i].action+','+b[i].uname+' '+b[i].actcont;
str=str+'	</td>';

/*
str=str+'	<td style="text-align:center">';
str=str+'		<a href="javascript:;" onclick="load_article('+"'"+b[i].id+"'"+')" class="view-link">修改</a>';
str=str+'		<a href="javascript:;" class="view-link" onclick="del_article('+"'"+b[i].id+"'"+')">删除</a>';
str=str+'	</td>';
*/
str=str+'</tr>';
												}
											var pgn="{$sh1_page_listnum1}";
											$("#curpage").val(parseInt(s)+parseInt(pgn));
											$("#content").append(str);
											$("#btn_nextpage").html('>>> 继续加载{$sh1_page_listnum1}条数据');
											$("#btn_nextpage").addClass("btn-info");
											}
										});
			}
		 </SCRIPT>
	<input type="hidden" id="curpage" value="0" />
</body>
</html>